body {
    font-family: Dancing Script;
    vertical-align: middle;
    background-color: black;
    display: flex;
    flex-flow: column;
      }
header{
  width: 80%;
  background-color: #5b7989;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px 10px 0 0;
  align-items: center;
  display: inline;
    }
header h1{
   color: white;
  text-shadow: 2px 2px #02010a;
  display: inline;
  margin-left: 8%;
}
 header menu{
  color: white;
  display: inline;
  float:right;

}
menu a{
  color: white;
  font-size: 1.1em;


}

@keyframes bodylink {
 from{
    position: relative;
    margin-top: 100%;
  }
  to{
    position: relative;
    margin-top: 0%;
  }
}
body{
  animation-name: bodylink;
  animation-duration: 1S;
}


div a:hover, div a:active{
   text-decoration: none;
}

img{
  border: 1px solid black;
}

h2{
  text-decoration: underline;
  margin-top: 2%;
  }

.img1{
  transform: none;
  -webkit-filter: blur(10px); /* Chrome, Safari, Opera */
  filter: blur(10px);
}
.img2, .img4, .img6{
  transform: none;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
.img3{
  transform: none;
  -webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
  filter: sepia(90%);
}

#paisajes:hover{
   transform: rotate(10deg);
   transition: transform 1s;
   border: 2px solid;
   border-color: #82c3a6;
   shadow: 2px, #82c3a6;
}

#retratos:hover{
  transform: translate(20px, -5px);
  transition: transform 1s;
  border: 2px solid;
  border-color: #82c3a6;
  shadow: 2px, #82c3a6;
}

.ImagenCen {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 70%;
  padding-left: 10%;
  padding-top: 0.5%;
  background-color: #82c3a6;

      }
#contenedor {
  margin-left: 10%;
  margin-right: 10%;
  max-width: 100%;
  display: flex;
  flex-flow: wrap;
  background-color: #d5c75f;
  padding-top: 3%;
  padding-left: 3%;
      }



footer{
  display: flex;
  flex-flow: wrap;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 0px 0px 10px 10px;
  background-color: #C6d5c5;
  width: 80%;
  text-align: center;
}
#Boxes article{
  display: flex;
  flex-flow: column;
  padding-right: 5%;
  padding-left: 1%;
  font-size: 1em;
  vertical-align: text-top;
  text-align: center;
}

article> a{
  color: black;
}

.ImagenCen {
  width: 100%;

  }
.ImagenIzq {
  width: 60%;

}
.ImagenDer {
  width: 40%;

}
.img1{
  width: 33%;

}
.img2{
  width: 33%;

}
.img3{
  width: 33%;

}
.img4{
  width: 33%;

}
.img5{
  width: 33%;

}
.img6{
  width: 33%;

}
.column1{
  width: 18%;
}
.column2{
    width: 18%;
}
.column3{
    width: 18%;
}
.column4{
    width: 18%;
}

#wrapper{
  max-width: 900px;
}



@media (max-width:900px) {
  wrapper{
    width: 100%;
  }

  header h1{
align-items: center;
  text-align: center;
  }

  header menu{
   float: none;
   text-align: center;

 }

  .ImagenCen {
    width: 100%;

    }
  .ImagenIzq {
    width: 100%;

  }
  .ImagenDer {
    width: 100%;

  }
  .img1{
    width: 100%;

  }
  .img2{
    width: 100%;

  }
  .img3{
    width: 100%;

  }
  .img4{
    width: 100%;

  }
  .img5{
    width: 100%;

  }
  .img6{
    width: 100%;

  }
  .column1{
    width: 100%;
  }
  .column2{
      width: 100%;
  }
  .column3{
      width: 100%;
  }
  .column4{
      width: 100%;
  }

}
